.login_hide {
  background: transparent;
  overflow: hidden;
}
.login_hide span {
  transform: translateY(500px);
  display: inline-block;
}
.login_animation {
  opacity: 0;
}
.register {
  opacity: 0;
  top: -30%;
  left: 30%;
}
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}
