body {
  background-color: rgb(236, 236, 236);
}
.switch {
  position: relative;
  display: block;
  width: 90px;
  height: 55px;
  margin-bottom: 30px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  border: 3px solid white;
  background-origin: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.slider:before {
  position: absolute;
  content: "";
  bottom: 14px;
  background-color: rgb(175, 175, 175);
  transition: 0.5s;
}
.switch input {
  display: none;
}
input:checked + .slider {
  background-color: black;
}

.slide.round {
  border-radius: 35px;
}
.slide.round:before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotateZ(-45deg);
}
input:checked + .slider:before {
  transform: translateX(47px) rotateZ(-45deg);
}
