.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}
@keyframes bg {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.slider {
  transform: translateY(-100%);
}
